/*body{
	background: url(../images/cluj_background.jpg);
}*/

body{
	background-color: #ffffcc;
}
.title{
	font-size:30px;
	text-align:center;
	padding:0px;
	margin:-10px;
}

th ,td {
	width:500px;
	text-align:center;
}

img{
	max-width: 400px;
	max-height: 400px;
	margin-top: 20px;
	border-radius:15px;
}
table{
	position:relative;
	left:100px;
}

